-- Schéma de base de données complet pour SenAlert
-- Support des signalements anonymes et authentifiés

-- Table des organisations
CREATE TABLE organizations (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name TEXT NOT NULL,
  type TEXT NOT NULL CHECK (type IN ('mairie', 'ong', 'prive', 'benevolat')),
  email TEXT,
  phone TEXT,
  address TEXT,
  city TEXT,
  status TEXT DEFAULT 'pending',
  created_at TIMESTAMPTZ DEFAULT timezone('utc', now()),
  approved_at TIMESTAMPTZ
);

-- Table de la population (citoyens avec compte)
CREATE TABLE population (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  phone TEXT UNIQUE,
  auth_code TEXT UNIQUE,
  name TEXT,
  status TEXT DEFAULT 'active',
  created_at TIMESTAMPTZ DEFAULT timezone('utc', now()),
  last_activity TIMESTAMPTZ
);

-- Table des administrateurs
CREATE TABLE admin (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  username TEXT UNIQUE,
  password_hash TEXT NOT NULL,
  email TEXT UNIQUE,
  name TEXT NOT NULL,
  organization_id uuid REFERENCES organizations(id),
  permissions TEXT[],
  status TEXT DEFAULT 'active',
  created_at TIMESTAMPTZ DEFAULT timezone('utc', now()),
  last_login TIMESTAMPTZ
);

-- Table des super administrateurs
CREATE TABLE superadmin (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  username TEXT UNIQUE,
  password_hash TEXT NOT NULL,
  email TEXT UNIQUE,
  name TEXT NOT NULL,
  permissions TEXT[],
  status TEXT DEFAULT 'active',
  created_at TIMESTAMPTZ DEFAULT timezone('utc', now()),
  last_login TIMESTAMPTZ
);

-- Table des signalements (supporte anonymes et authentifiés)
CREATE TABLE reports (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  -- Champs pour utilisateurs authentifiés (optionnels)
  population_id uuid REFERENCES population(id),
  -- Champs pour signalements anonymes (optionnels)
  anonymous_code TEXT UNIQUE,
  anonymous_name TEXT,
  anonymous_phone TEXT,
  -- Champs communs
  type TEXT NOT NULL,
  description TEXT NOT NULL,
  latitude DOUBLE PRECISION,
  longitude DOUBLE PRECISION,
  department TEXT,
  address TEXT,
  photo_url TEXT,
  audio_url TEXT,
  status TEXT DEFAULT 'en-attente',
  assigned_admin_id uuid REFERENCES admin(id),
  created_at TIMESTAMPTZ DEFAULT timezone('utc', now()),
  updated_at TIMESTAMPTZ DEFAULT timezone('utc', now()),
  -- Contrainte pour s'assurer qu'un signalement a soit population_id soit anonymous_code
  CONSTRAINT check_user_type CHECK (
    (population_id IS NOT NULL AND anonymous_code IS NULL) OR
    (population_id IS NULL AND anonymous_code IS NOT NULL)
  )
);

-- Table des notifications
CREATE TABLE notifications (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  -- Champs pour utilisateurs authentifiés (optionnels)
  population_id uuid REFERENCES population(id),
  -- Champs pour notifications anonymes (optionnels)
  anonymous_code TEXT,
  report_id uuid REFERENCES reports(id),
  title TEXT NOT NULL,
  message TEXT NOT NULL,
  type TEXT,
  read BOOLEAN DEFAULT FALSE,
  created_at TIMESTAMPTZ DEFAULT timezone('utc', now())
);

-- Table de logs d'actions admin
CREATE TABLE admin_logs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  admin_id uuid REFERENCES admin(id),
  superadmin_id uuid REFERENCES superadmin(id),
  action TEXT NOT NULL,
  details TEXT,
  created_at TIMESTAMPTZ DEFAULT timezone('utc', now())
);

-- Table de logs d'actions superadmin
CREATE TABLE superadmin_logs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  superadmin_id uuid REFERENCES superadmin(id),
  action TEXT NOT NULL,
  details TEXT,
  created_at TIMESTAMPTZ DEFAULT timezone('utc', now())
);

-- Index pour les performances
CREATE INDEX idx_reports_population_id ON reports(population_id);
CREATE INDEX idx_reports_anonymous_code ON reports(anonymous_code);
CREATE INDEX idx_reports_status ON reports(status);
CREATE INDEX idx_reports_type ON reports(type);
CREATE INDEX idx_reports_department ON reports(department);
CREATE INDEX idx_reports_created_at ON reports(created_at DESC);
CREATE INDEX idx_notifications_population_id ON notifications(population_id);
CREATE INDEX idx_notifications_anonymous_code ON notifications(anonymous_code);
CREATE INDEX idx_notifications_read ON notifications(read);
CREATE INDEX idx_admin_organization_id ON admin(organization_id);
CREATE INDEX idx_admin_logs_admin_id ON admin_logs(admin_id);
CREATE INDEX idx_superadmin_logs_superadmin_id ON superadmin_logs(superadmin_id);

-- RLS (Row Level Security) - à activer selon vos besoins
-- ALTER TABLE reports ENABLE ROW LEVEL SECURITY;
-- ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;
-- ALTER TABLE population ENABLE ROW LEVEL SECURITY;
-- ALTER TABLE admin ENABLE ROW LEVEL SECURITY;
-- ALTER TABLE superadmin ENABLE ROW LEVEL SECURITY;
