-- Données d'exemple pour SenAlert
-- Signalements 100% anonymes - aucune authentification nécessaire
-- IDs générés automatiquement par PostgreSQL

-- 1. INDEX pour optimiser les performances (avec IF NOT EXISTS)
CREATE INDEX IF NOT EXISTS idx_admin_username ON admin(username);
CREATE INDEX IF NOT EXISTS idx_admin_email ON admin(email);
CREATE INDEX IF NOT EXISTS idx_admin_organization_id ON admin(organization_id);
CREATE INDEX IF NOT EXISTS idx_admin_status ON admin(status);

CREATE INDEX IF NOT EXISTS idx_superadmin_username ON superadmin(username);
CREATE INDEX IF NOT EXISTS idx_superadmin_email ON superadmin(email);
CREATE INDEX IF NOT EXISTS idx_superadmin_status ON superadmin(status);

CREATE INDEX IF NOT EXISTS idx_reports_anonymous_code ON reports(anonymous_code);
CREATE INDEX IF NOT EXISTS idx_reports_status ON reports(status);
CREATE INDEX IF NOT EXISTS idx_reports_type ON reports(type);
CREATE INDEX IF NOT EXISTS idx_reports_department ON reports(department);
CREATE INDEX IF NOT EXISTS idx_reports_assigned_admin_id ON reports(assigned_admin_id);
CREATE INDEX IF NOT EXISTS idx_reports_created_at ON reports(created_at);
CREATE INDEX IF NOT EXISTS idx_reports_location ON reports(latitude, longitude);

CREATE INDEX IF NOT EXISTS idx_notifications_anonymous_code ON notifications(anonymous_code);
CREATE INDEX IF NOT EXISTS idx_notifications_report_id ON notifications(report_id);
CREATE INDEX IF NOT EXISTS idx_notifications_read ON notifications(read);
CREATE INDEX IF NOT EXISTS idx_notifications_created_at ON notifications(created_at);

CREATE INDEX IF NOT EXISTS idx_organizations_type ON organizations(type);
CREATE INDEX IF NOT EXISTS idx_organizations_status ON organizations(status);

CREATE INDEX IF NOT EXISTS idx_admin_logs_admin_id ON admin_logs(admin_id);
CREATE INDEX IF NOT EXISTS idx_admin_logs_superadmin_id ON admin_logs(superadmin_id);
CREATE INDEX IF NOT EXISTS idx_admin_logs_created_at ON admin_logs(created_at);

CREATE INDEX IF NOT EXISTS idx_superadmin_logs_superadmin_id ON superadmin_logs(superadmin_id);
CREATE INDEX IF NOT EXISTS idx_superadmin_logs_created_at ON superadmin_logs(created_at);

-- 2. DONNÉES D'EXEMPLE

-- Organisations

-- Super Administrateurs
INSERT INTO superadmin (username, password_hash, email, name, permissions, status, created_at, last_login) VALUES
('superadmin', 'superpass123', 'superadmin@senalert.sn', 'Amadou Cissé', ARRAY['manage_all', 'manage_admins', 'view_all_statistics'], 'active', '2024-01-01 07:00:00+00', '2024-01-15 07:30:00+00'),
('admin_system', 'systempass456', 'system@senalert.sn', 'Fatou Ndiaye', ARRAY['manage_all', 'system_config'], 'active', '2024-01-02 08:00:00+00', '2024-01-14 08:45:00+00');

-- Administrateurs (avec références aux organisations)

-- Signalements anonymes (données réalistes du Sénégal)

-- Notifications pour signalements anonymes

-- Logs d'actions admin

-- Logs d'actions superadmin
